.navigation {
    margin: 0 !important;
}

.navigation .item::before {
    background: none !important;
}

@media only screen and (min-width: 992px) {
    .navigation .search-component {
        min-width: 500px;
    }
}

@media only screen and (max-width: 991px) {
    .navigation .search-component {
        min-width: 400px;
    }
}

@media only screen and (max-width: 767px) {
    .navigation .search-component {
        min-width: 150px;
    }
}

